*{
   
    font-family: 'Arima', cursive;
font-family: 'Gantari', sans-serif;
font-family: 'Kantumruy Pro', sans-serif;
font-family: 'Open Sans', sans-serif;
}
body{
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 43.5rem;
    max-width: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    /* text-align: center; */
    text-align: center;
    font-weight: 700;
    background: linear-gradient(70deg,rgb(14, 47, 90),rgb(14, 84, 197));
    background-repeat: none;
}
.container{
    /* border: solid red; */
    width:28rem;
    height: 100%;
    /* padding-top: 5px; */
    padding-left:1.5rem;
    padding-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

}
#heading1{
        width: 100%;
        height: auto;
        margin-top: 10px;
        text-align: center;
        margin-bottom: 10px;
        letter-spacing: 5px;
        background: -webkit-linear-gradient(rgb(109, 9, 171),rgb(227, 16, 231),rgb(232,230,144));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
.divider{
    width: 100%;
    height: 3px;
    background: linear-gradient( to right,rgb(109, 9, 171),30%,rgb(227, 16, 231),rgb(232,230,144));
    margin-bottom: 10px;
}
#heading2{
    width: 100%;
    height: auto;
    padding-top: 1rem;
    font-size: larger;
    letter-spacing: 5px;
    background: -webkit-linear-gradient( rgb(109, 9, 171),rgb(227, 16, 231),rgb(232, 230, 144));
  background-clip: text;
   -webkit-text-fill-color: transparent;
  margin-bottom: 2rem;
}
#points_table{
    display: flex;
    width: 100%;
    background:none;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid white; */
    border-collapse: collapse;
  /* border: 3px solid purple; */
}
tr{
    width: 100%;

}
 td {
    background-color: aliceblue;
    padding:5px;
    border: 1px solid black;
    width: fit-content;
}

#table_heading>th{
    padding:10px;
    padding:10px 20px 10px 20px;

    background-color: rgb(211, 103, 244);
    border:1px solid black;
    border-collapse: collapse;

}
